@use './variables.scss' as *;

// swiper
.swiper-pagination-bullet-active {
  background: $pink !important;
}

.swiper-wrapper {
  margin-bottom: 8rem;

  @media (max-width: 768px) {
    margin-bottom: 7rem;
  }
}

.swiper-slide {
  display: flex !important;
  height: auto !important;
}
