$background: #f4e5df;
$white: #fff;
$black: #000;
$pink: #fcd4d2;
$pink-text: #f2b2ae;
$dark-text: #a9655da5;
$shadow: rgba(#524b4b, 0.45);
$header-shadow: rgba(#524b4b, 0.55);
$pink-shadow: rgba(#853a3a, 0.55);
$require: #ff8888;
$footer: rgba(0, 0, 0, 0.735);
$background-footer: #f8f8f8;

$nav-wrapper: #00000077;
$list-wrapper: #fcd4d2bc;

$big: 3rem;
$large: 2.4rem;
$medium: 2rem;
$small: 1.8rem;
$x-small: 1.6rem;
$xs-small: 1.4rem;

$large-title: 6.4rem;
$medium-title: 5.4rem;
$small-title: 4.4rem;

$large-nav: 4rem;
$medium-nav: 3rem;
$small-nav: 2.5rem;
