@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(90deg, #f3d1d1, #f4e5df);
  background-size: 200% 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: gradientMove 3s ease-in-out infinite;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageWrapper {
  position: relative;
  width: 120px;
  aspect-ratio: 300 / 229;

  @media (min-width: 640px) {
    width: 160px;
  }

  @media (min-width: 1024px) {
    width: 200px;
  }
}

.image {
  object-fit: contain;
}
