@use '@/styles/variables.scss' as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border: $pink 0.5rem solid;
  border-radius: 1.3rem;
  padding: 4.6rem 3.5rem;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 3.6rem 2.5rem;
  }

  @media (max-width: 425px) {
    padding: 2.6rem 1.5rem;
  }
}

.user {
  max-width: clamp(8rem, 2.17vw, 10rem);
  max-height: clamp(8rem, 2.17vw, 10rem);
  margin-bottom: 5rem;

  @media (max-width: 768px) {
    margin-bottom: 3rem;
  }

  @media (max-width: 425px) {
    margin-bottom: 2rem;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.review {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5rem;
  justify-content: space-between;
  font-style: italic;
  font-size: $large;

  @media (max-width: 768px) {
    font-size: $medium;
    gap: 2rem;
  }

  @media (max-width: 425px) {
    font-size: $small;
  }

  @media (max-width: 375px) {
    font-size: $x-small;
  }
}
