@use '@/styles/variables.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-bona-nova-sc), sans-serif;
  font-weight: 700;
  font-size: $large-title;
  color: $pink;
  text-shadow: $shadow 0 2px 5px;
  text-align: center;
  padding: 4rem 0;

  @media (max-width: 768px) {
    font-size: $medium-title;
  }

  @media (max-width: 425px) {
    font-size: $small-title;
  }
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
}
