@use '../../styles/variables.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 3.3rem;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out all;
}
.scrolled {
  backdrop-filter: blur(10px);
  border-bottom: $border 2px solid;

  .logo {
    filter: drop-shadow(2px 4px 6px $shadow);
  }
  .link {
    text-shadow: $shadow 2px 4px 6px;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 8rem;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.image {
  display: block;
  max-width: 100%;
  margin: 2rem 0;
}

.nav {
  display: flex;
  align-items: center;
}
.list {
  display: flex;
  gap: 1.5rem;
}

.link {
  display: block;
  font-weight: 500;
  color: $white;
  text-shadow: $pink-shadow 0 4px 5px;
  transition: 0.3s linear all;

  &:hover {
    transform: scale(1.05);
  }
}
